.editors-wrapper {
    height: calc(40% - 5px);
    .editors {
        display: flex;
        height: 100%;
    }

    .left-divider-wrapper {
        display: flex;
        .left-divider {
            height: calc(100% - 1px);
            width: 18px;
            background-color: #131417;
            display: flex !important;
            border-top: solid 0.3px #34363e;
            border-bottom: solid 0.3px #34363e;
        }
    }
}

.gutter-horizontal {
    width: 18px !important;
    border-top: solid 0.3px #34363e;
    &:hover {
        cursor: col-resize;
    }
}
.gutter-vertical {
    height: 18px !important;
    border-top: 0.3px solid #34363e;
    border-right: 0.3px solid #34363e;
    &:hover {
        cursor: row-resize;
    }
}

.iframe {
    height: 100%;
    overflow-y: scroll;

    iframe {
        background-color: white;
        border: 0;
        width: 100%;
        left: 0;
    }
}

.footer {
    height: 100%;
    color: black;
    background: white;
}