.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;

    .editor-header {
        width: 7rem;
        background-color: #1d1e22;

        .title-svg-container {
            display: flex;
            flex-direction: row;
            * {
                padding-left: 0.5rem;
                padding-bottom: 0.5rem;
                padding-top: 0.5rem;
            }
        }
        
    }
    .codemirror {
        height: 100%;
    }
    .cm-activeLine {
        background-color: #1d1e22 !important;
    }
    .cm-line {
        background-color: #1d1e22 !important;
    }
    .cm-editor {
        height: 100%;
    }
    .cm-content {
        background: #1d1e22 !important;
        overflow: auto;
        height: 20rem;
    }
    .cm-theme-light {
        height: 100%;
    }
    .cm-gutters {
        background: #1d1e22 !important;
        border: none !important ;
    }

    .cm-gutter {
        background-color: #1d1e22;
    }
    .cm-gutterElement {
        background-color: #1d1e22;
    }

    .cm-foldGutter {
        background-color: #1d1e22 !important;
    }

    .cm-scroller {
        background-color: #1d1e22;
    }
}