@media (min-width: 830px) {


    .header {
        margin-left: 198px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .mobile-icons {
            display: none;
        }

        .mobile-icon {
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);
        }
    
        .search-form {
            display: flex;
            background-color: #252830;
            margin: 1.5vh 1vw;
            padding: 1.3vh 1vw;
            border-radius: 5px;
            width: 70vw;
        }

        .header-icons {
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);
        }

        .header-icon1 {
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%); 
        }
    
        input {
            background-color: #252830;
            border: none;
            font-size: large;
            font-weight: bold;
            color: #868892;
            padding-left: 1vw;
        }
    
        .btn {
            display: flex;
            background-color: #252830;
            margin-left: 4px;
            margin-right: 13px;
            padding: 1.6vh 1vw;
            border-radius: 5px;
            white-space: nowrap;
            text-decoration: none;
            width: 65px;
            align-items: center;
            justify-content: center;
        }
    
        .sign-up {
            background-color: #47CF73;
            color: black !important;
        }
    
        .log-in {
            color: white !important;
            background-color: #444857;
        }

        .flex-grow-1 {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-end;
        }
    } 
}

@media (max-width: 829px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .header-icons {
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);
        }

        .mobile-icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);

            .mobile-icon {
                padding: 6px;
                filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);
            }
        }

        .search-form {
            display: flex;
            background-color: #252830;
            margin: 0.75vh 1vw;
            padding: 0.75vh 1vw;
            border-radius: 5px;
            width: 65vw;
        }
    
        input {
            background-color: #252830;
            border: none;
            font-size: large;
            font-weight: bold;
            color: #868892;
            padding-left: 1vw;
        }
    
        .btn {
            display: flex;
            background-color: #252830;
            margin: 0.75vh 1vw;
            padding: 0.75vh 1vw;
            border-radius: 5px;
            white-space: nowrap;
            text-decoration: none;
        }

        .menu-icon {
            width: 36px;
            padding: 19px 23px;
            cursor: pointer;
            border-radius: 4px;
            background-color: #5a5f73;
            border: none;
        }
    
        .sign-up {
            background-color: #47CF73;
            color: black !important;
        }
    
        .sign-in {
            color: white !important;
        }
        .flex-grow-1 {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
}
