@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.search {
    margin-left: 24vh;
    background-color: #141414;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Varela', sans-serif;

    .search-form {
        margin: 2vh;
        height: 5vh;
        border-radius: 5px;
        background-color: #2C303A;
        width: 80%;
    }

    input {
        border: none;
        background-color: #2C303A;
        color: #a4a9b4;
    }

    .btn {
        height: 5vh;
        border-radius: 5px;
        color: #a4a9b4;
        text-decoration: none;
        margin: 2vh;
    }

    .sign-up {
        background-color: green;
        color: black;
    }

    .login {
        background-color: #6b6d72;
        color: white;
    }

}