@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

.section1-container {
    padding-left: 150px;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .container1 {
        width: 38vw;
        .section1-icon {
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);
        }

        .section1-title {
            font-size: 45px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            color: white;
        }
        .section1-subtitle {
            color: white;
            width: 27vw;
        }
    }


}

