@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

.section1-container {
    padding-left: 240px;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    // background-image: url('../public/section1-background.svg');
    background-repeat: no-repeat;
    background-position: right top;
    .container1 {
        width: 40vw;
        .section1-icon {
            filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(118%) contrast(100%);
        }

        .section1-title {
            font-size: 40px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            color: white;
            padding: 2rem 4rem 0 0;
            letter-spacing: -2px;
            margin: 0;
        }
        .section1-subtitle {
            color: white;
            width: 32.5vw;
            line-height: 1.5rem;
            font-size: 1.2rem;
        }
        .btn {
            display: flex;
            background-color: #252830;
            margin-top: 2rem;
            padding: 1.6vh 1vw;
            border-radius: 5px;
            white-space: nowrap;
            text-decoration: none;
            width: 8rem;
            align-items: center;
            justify-content: center;
        }
    
        .sign-up {
            background-color: #47CF73;
            color: black !important;
        }
    }
    .container2 {
        height: 35rem;
        width: 33rem;
        margin-right: 46px;
        .gray-square {
            background: linear-gradient(109.61deg,#4c4f5a 4.26%,#202125 84.84%);
            border-radius: 10px;
            height: 27rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .code-example {
                padding-bottom: 1rem;
                width: 300px;
                height: 8rem;
                background: #1d1e22;
                box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
                border-radius: 6px;
                color: white;
                .code-example-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 13px;
                    letter-spacing: 1.57px;
                    color: #c5c8d4;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 700;
                    .settings-label-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .img-wrapper {
                            padding: .5rem;
                        }
                    }
                    .img-wrapper {
                        padding: .5rem;
                    }

                    .example-icon {
                        filter: 
                            invert(37%) 
                            sepia(9%) 
                            saturate(14%) 
                            hue-rotate(317deg) 
                            brightness(90%) 
                            contrast(94%);
                    }
                }
                .code-section {
                    padding: .5rem;
                }

                .brown {
                    color: #A88038;
                }
                .yellow {
                    color: #E1CA72;
                }
                .green {
                    color: #74B087;
                }
                .purple {
                    color: #9f8198;
                }
                .orange {
                    color: #de7300;
                }
                .blue {
                    color: #7a99ad;
                }
                .white {
                    color: white;
                }
                .transparent {
                    color: transparent;
                }
            }
        }
    }


}

.example1 {
    margin-right: 3rem;
    position: relative;
    top: -20px;
}

.example2 {
    margin-right: -3rem;
    position: relative;
    
}

.example3 {
    margin-right: 5rem;
    position: relative;
    bottom: -20px;
}

@media (max-width: 1100px) {
    .section1-container {
        padding-left: 240px;
        padding-top: 3vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .gray-square {
        width: 40rem;
    }
}

