@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

.section2 {
    padding-left: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 80%;
    .box1 {
        width: 22rem;
        .section2-subtitle{
            font-family: "Lato", sans-serif;
            font-weight: 300;
            color: #c7c9d3;
            font-size: 18px;
        }
    }
    .card-container {
        width: 88%;
        background-color: #1e1f26;
        margin: 1rem;
        align-items: center;
        position: relative;
        height: auto;
        z-index: 1;
        border-radius: 10px;
        a {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .card-iframe {
                border: none;
                background-color: white;
                z-index: -1000;
                position: relative;
                border-radius: 10px;
                width: auto;
                margin-top: -0.5rem;
                margin-left: -0.5rem;
                height: 15rem;
            }
        }
        .pen-details {
            display: flex;
            margin-left: -.5rem;
            padding-top: 1rem;

            .user-avatar {
                border-radius: 5px;
                padding-right: 1rem;
            }
            .pen-labels {
                padding-left: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    text-decoration: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:visited {
                        text-decoration: none;
                    }
                }
                

                .pen-title {
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    color: white;
                    width: 13rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .pen-author {
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    color: #c7c9d3;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
        

    }
    h2 {
        color: white;
        font-size: 25px;
    }

}

@media (max-width: 1165px) {
    .section2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
} 

@media (max-width: 950px) {
    .section2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
} 

@media (max-width: 830px) {
    .section2 {
        padding-left: 15px;
    }
    .box1 {
        width: auto !important;
        padding: 2rem;
    }
} 

// overflow-wrap: normal;

// overflow-wrap: break-word;