.section2 {
    padding-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    .card-container {
        display: flex;
        flex-direction: column;
        width: 20rem;
        cursor: pointer;

    }

}

@media (max-width: 1165px) {
    .section2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
} 