@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Varela&display=swap');


@media (min-width: 830px) {
    .sidebar {
        position: fixed;
        height: 100%;
        width: 190px;
        background-color: #1e1f26;
        padding: 15px 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .sidebar-subtitle {
            font-family: 'Inconsolata', monospace;
            color: #AAAEBC;
            margin-top: 1.5vh;
        }
    
        .sidebar-href {
            width: 20vh;
            height: 8vh;
            background: linear-gradient(90deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
            background-size: 50% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3vh;
            border-radius: 5px;
        }
    
        .sidebar-span {
            background-color: black;
            color: white;
            height: 80%;
            height: 82%;
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            font-family: 'Varela', sans-serif;
        }
    }
}

@media (max-width: 829px) {
    .sidebar {
        display: none;
    
        .sidebar-subtitle {
            display: none;
        }
    
        .sidebar-href {
            display: none;
        }
    
        .sidebar-span {
            display: none;
        }
    }
}
